{% extends 'templates/base.html' %} 
{% load static %}

{% block title %}<title>All Reviews</title>{% endblock %}

{% block menu_item %}
{% if user.is_authenticated %}
    <li><a href="{% url 'accounts:update_profile' %}"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>
    <li><a href="{% url 'accounts:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
{% else %}
    <li><a href="{% url 'accounts:accounts_index' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="{% url 'accounts:accounts_index' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
{% endif %}
{% endblock %}

<h1>All Reviews</h1>


{% block content %}
<div class="col-sm-10 profile">
    {% load django_tables2 %}
    {% render_table table %}
</div>
{% endblock %}