{% extends 'templates/base.html' %}
{% load static %}

{% block title %}<title>{{ title }}</title>{% endblock %}

{% block menu_item %}
{% if user.is_authenticated %}
    <li><a href=""><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>
    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
{% else %}
    <li><a href="{% url 'accounts_index' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="{% url 'accounts_index' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
{% endif %}
{% endblock %}

a

{% block content %}


<div class="col-sm-5 register">
    <h1>Register</h1>
    <form method="POST" id="register-form" action="" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {{ registration_form.as_p }}
    <input type="submit" class="btn btn-default" value="Register">
    </form>
</div>

<div class="col-sm-5 login">
    <h1>Login</h1>
    <form method="POST" id="login-form" action="" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %} {{ login_form.as_p }}
        <input type="submit" class="btn btn-default" value="Login">
    </form>
</div>



{% endblock %}

{% block scripts %}<script src="{% static 'scripts/accounts/scripts.js' %}"></script>{% endblock %}