{% extends 'templates/base.html' %}
{% load static %}

{% block title %}<title>{{ title }}</title>{% endblock %}

{% block css %}{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="col-sm-5 register">
            <h1>Hello {{ user.username }}!</h1>
        </div>
    {% else %}
        <div class="col-sm-5 register">

        </div>
        <div class="col-sm-5 login">
            
        </div>
    {% endif %}
        
{% endblock %}

{% block scripts %}{% endblock %}