{% extends 'templates/base.html' %} 
{% load static %}

{% block title %}<title>{{ user.name }}'s Profile</title>{% endblock %}

{% block menu_item %}
{% if user.is_authenticated %}
    <li><a href="{% url 'update_profile' %}"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>
    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
{% else %}
    <li><a href="{% url 'accounts_index' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="{% url 'accounts_index' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
{% endif %}
{% endblock %}




{% block content %}
<div class="col-sm-10 profile">
{% if user.is_authenticated %}
    <h1>{{ user.username }}</h1>
    <ul>
        <li>Name: {{ user.name }}</li>
        <li>Email: {{ user.email }}</li>
        <li>Total Reviews: {{ user.profile.count_reviews }}</li>
    </ul>
{% endif %}
</div>
{% endblock %}